{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
{% block intro %} 

<div id="lawmaker">

  {% if person['twitter_id'] %}
        <img src="http://api.twitter.com/1/users/profile_image/?screen_name={{person['twitter_id']}}&size=bigger" style="float: left; width:73px; height: 73px; margin-right: 15px;"/>
  {% else %}
      <img src="/static/images/notwitter.png" style="float: left; width:73px; height: 73px; margin-right: 10px;"/>
  {% endif %}

<h3 style="margin-bottom:5px;">Events for </h3>

<div style="padding-bottom:10px;">
<span class="politician">{{ person['title'] }} {{ person['firstname'] }} {{ person['middlename'] }} {{ person['lastname'] }} ({{ person['party'] }})</span> 
</div>
<p style="font-family: Georgia; font-size:16px; font-style:italic; line-height:22px; margin-left:90px;">Looks like the {{ person['title'] }} has been rubbing elbows with the elite. Why weren't you — their most loyal constituent — invited? Tweet at {{ person['firstname'] }} to tell them how you feel. </p>
{% if person['phone'] %}
<p style="font-family: Georgia; font-size:16px; font-style:italic; line-height:22px; margin-left:90px;">
Want to call {{person['title']}} {{person['lastname']}}? <a href="#">{{person['phone']}}</a>
  </p>
  {% endif %}
<br/>

{% if event_count < 1 %}
  <h4> No events were found for your congressman at this time. Maybe our API is down, or maybe he needs some love. Instead, check out President Obama & Governor Romney's events.  </h4>
{% endif %}

</div>

<table>
  <thead>
  <tr>
    <th class="date"><a href="#" onclick="events_sort_by('start_date', false, true, false); return false;">Date</a></th>
    <th class="event"><a href="#" onclick="events_sort_by('entertainment', true, false, false); return false;">Event</th>
    <th class="location"><a href="#" onclick="events_sort_by('venue', true, false, false); return false;">Location</th>
    <th class="hosts"><a href="#" onclick="events_sort_by('hosts', true, false, false); return false;">Hosts</th>
    <th class="contributions"><a href="#" onclick="events_sort_by('contributions_info', false, false, true); return false;">Contributions</th>
    <th class="party_time">Political Party Time Listing</th>
    <th class="suggested_tweets">Tweet</th>
  </tr>
  </thead>
  <tbody id="event_table_body"></tbody>
</table>

<h6><a href="/legislators/">other legislators</a></h6>

<div id="tweet_overlay_wrapper">
<div id="tweet_overlay">
  <div id="tweet_overlay_close">[<a href="#">close</a>]</div>
  <h2>Select your tweet</h2>
  <div id="tweet_overlay_list"></div>
</div>
</div>

<script type="text/javascript">
event_id = "{{event_id}}"
loadEventListings("{{cid}}", {{events| safe }});
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endblock %}


{% endblock %}
