{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
{% block intro %} 

    
<h3>Events for {{ person['title'] }} {{ person['firstname'] }} {{ person['middlename'] }} {{ person['lastname'] }} ({{ person['party'] }}) </h3>
<br/>
<ul>
{% if event_count < 1 %}
  <h4> No events were found for your congressman at this time. Maybe our API is down, or maybe he needs some love. </h4>
{% endif %}
{% for event in events %}
  <li>
    {% if event['fields']['hosts'] %}
      <h4> Hosts: {{ ", ".join(event['fields']['hosts']) }} </h4>
    {% else %}
      <h4> This event has no host information. </h4>
    {% endif %}
    <ul>
      {% if event['fields']['venue'] %}
        <li> Location: {{ event['fields']["venue"] }}, </li>
      {% endif %}
      {% if event['fields']['entertainment'] %}
        <li> Entertainment: {{ event['fields']['entertainment'] }}, </li>
      {% endif %}
      {% if event['fields']['entertainment'] %}
        <li> Date: {{ event['fields']["start_date"] }}, </li>
      {% endif %}
      {% if event['fields']['entertainment'] %}
        <li> Start time: {{ event['fields']['start_time'] }}, </li>
      {% endif %}
      {% if event['fields']['end_time'] %}
        <li> End time: {{ event['fields']['end_time'] }} </li>
      {% endif %}
      {% if event['fields']['entertainment'] %}
        <li> Contributions: {{ event['fields']['contributions_info'] }} </li>
      {% endif %}
    </ul>
  </li>
{% endfor %}
</ul>

<h6><a href="/legislators/">other legislators</a></h6>


{% endblock %}


{% endblock %}

