<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/lfln.css">
    <script src="/static/javascript/events.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}Welcome{% endblock %} | LFLN</title>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="header">
                    <div class="navigation">
                    	<div class="navigation_left">
                        	<span class="nav_item"><a href="{{ url_for('welcome') }}">home</a></span>
                        	<span class="nav_item"><a href="{{ url_for('about') }}">about</a></span>
                        	<span class="nav_item"><a href="/events/N00009638">pres. obama</a></span>
                        	<span class="nav_item"><a href="/events/N00000286">gov. romney</a></span>
                        </div>
                        <div class="navigation_right">
                        	<span class="nav_item"><a href="{{ url_for('legislators_search') }}">your legislators</a></span>
                        	{% if user_authenticated %}
                       	     <span class="nav_item"><a href="/">Profile</a></li>
                       	     <span class="nav_item"><a href="{{ url_for('logout') }}">logout</a></span>
                       	     {% else %}
                            <span class="nav_item"><a href="{{ url_for('login') }}">login</a></span>
                            <span class="nav_item"><a href="{{ url_for('signup') }}">sign up</a></span>
                            {% endif %}
                            <span class="nav_item_last"><a href="{{ url_for('contact') }}">contact us</a></span>
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="row">
            <div class="span12" id="title">
                <h1 id="maintitle">Lobbyists From Last Night</h1>
                <div id="subtitle">{% block subtitle %}It's 10 p.m. Do you know where your lawmakers are?{% endblock %}</div>
                <hr />
            </div>
        </div>

            
            
            <div class="span12">
            	<div id="content">
               	 	{% block body %}

               	 		<div id="intro">{% block intro %}{% endblock %}</div> 

               	 	{% endblock %}
            	</div>
            </div>
            
            <div class="span12">
            	<div id="footer">
            		<img src="http://larrybuch.com/lfln/footer.png" />
            		
            			<div id="footer_left">
            				<p>Lobbyists From Last Night</p>
            			</div>
            			
            			<div id="footer_center">
            				<p>Democracy + code + comedy in action.</p>
            			</div>
            			
            			<div id="footer_right">
            				<p>Pics or it didn’t happen.</p>
            			</div>
            			
            			<br />
            			<br />
            			
            	</div>
            </div>


        </div>
    </div>
    <script type="text/javascript">
  var _sf_async_config = { uid: 40654, domain: 'lobbyistsfromlastnight.com' };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
</body>
</html>
