{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
{% block intro %} 

<div style="width:500px; float:left;">
<h3 style="font-family:Georgia; font-weight:normal; font-size: 36px;">Legislators representing {{ zipcode }}</h3>
<br/>
<br/>
</div>

<div style="float: right; margin-top:-30px;">
<div id="zip_form">
<form name="legislators_form">
<fieldset>

    <input type="text" placeholder="Zipcode" style="width:100px; text-align: right;" name="zipcode"/>
    <input type="submit" value="Search another district"/>
    
</fieldset>
</form>
</div>
</div>


{% for (chamber, people) in legislators.iteritems() %}
<div style="float: left; margin-right: 125px; margin-top:20px; ">
<div style="margin-bottom:20px;">
<h3 style="font-family:Georgia; font-weight:normal; font-size: 24px;">{{chamber}}</h3>
</div>

<ul style="list-style:none;">
  {% if people %}
  {% else %}
    <em>That's odd, no one represents {{zipcode}}&hellip;</em>
  {% endif %}
  {% for person in people %}
  <li>
    <h4 style="font-family: Georgia; font-weight: normal; font-size:18px; margin-bottom:8px;">
      {{ person['title'] }} {{ person['firstname'] }} {{ person['middlename'] }} {{ person['lastname'] }} ({{ person['party'] }},
    {% if person['chamber'] == 'house' %}
     {{person['state']}}-{{person['district']}})
    {% elif person['chamber'] == 'senate' %}
     {{person['district']}})
    {% endif %}
  </h4>
    {% if person['twitter_id'] %}
    <img src="http://api.twitter.com/1/users/profile_image/?screen_name={{person['twitter_id']}}&size=bigger" style="float: left; width:73px; height: 73px; margin-right: 10px;"/>
    {% else %}
    <img src="/static/images/taco.png" style="float: left; width:73px; height: 73px; margin-right: 10px;"/>
    {% endif %}
    <ul style="list-style:none;" >
      <li style="font-size:15px; font-weight:bold; margin-bottom:6px;"><a href="/events/{{person['crp_id']}}">Event Calendar</a></li>
      {% if person['twitter_id'] %}
        <li><a href="http://twitter.com/{{person['twitter_id']}}" target="_blank">@{{person['twitter_id']}}</a></li>
      {% else %}
        <li><i>(no twitter)</i></li>
      {% endif %}
      {% if person['facebook_id'] %}
        <li><a href="http://www.facebook.com/{{person['facebook_id']}}" target="_blank">facebook</a></li>
      {% else %}
        <li><i>(no facebook)</i></li>
      {% endif %}

      <li><a href="http://votesmart.org/candidate/{{person['votesmart_id']}}" target="_blank">votesmart.org</a></li>
    </ul>
    <br/>
  </li>
{% endfor %}
</ul>
</div>
{% endfor %}

<div style="clear:both;">&nbsp;</div>



<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{zipcode}}&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear={{zipcode}}&amp;t=m&amp;z=12&amp;output=embed"></iframe><br/><br/>


<p>&nbsp;</p><p>&nbsp;</p>

{% endblock %}

{% endblock %}

<!--
        "district": "12", 
        "title": "Rep", 
        "eventful_id": "", 
        "in_office": true, 
        "state": "NY", 
        "crp_id": "N00001102", 
        "official_rss": "", 
        "chamber": "house", 
        "party": "D", 
        "email": "", 
        "votesmart_id": "26975", 
        "website": "http://house.gov/velazquez/", 
        "fax": "202-226-0327", 
        "govtrack_id": "400416", 
        "firstname": "Nydia", 
        "middlename": "M.", 
        "lastname": "Velazquez", 
        "facebook_id": "8037068318", 
        "congress_office": "2302 Rayburn House Office Building", 
        "phone": "202-225-2361", 
        "webform": "http://www.house.gov/velazquez/IMA/issue_subscribe.htm", 
        "youtube_url": "http://www.youtube.com/nydiavelazquez", 
        "nickname": "", 
        "bioguide_id": "V000081", 
        "fec_id": "H2NY00010", 
        "gender": "F", 
        "senate_class": "", 
        "name_suffix": "", 
        "twitter_id": "NydiaVelazquez", 
        "birthdate": "1953-03-28", 
        "congresspedia_url": "http://www.opencongress.org/wiki/Nydia_Velazquez"
-->

